# Lagrange Points
## Given: 
Locations of the equilibrium points in any 3-body system is $\bar{\triangledown}U^* = \bar{0}$
## Find:
a) Solve using the Newton-Rhapson for $L_1$:
1. Sun-Earth
2. Earth-Moon
3. Saturn-Titan
4. Jupiter-Europa
5. Pluto-Charon

b) Do the same for $L_2$ and $L_3$

In [2]:
# Import Functions and basic infor
import sys
sys.path.append('../')
from Functions.Universe import Solar_S as SS
from Functions.Universe import G
from Functions.Universe import Solar_3 as SS3
from Functions import Keplarian_fnc as kp
from Functions import Poincare_fnc as pn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Part a)

In [3]:
systems = ['Sun-Earth', 'Earth-Moon', 'Saturn-Titan', 'Jupiter-Europa', 'Pluto-Charon']
L2_point = np.zeros((4,len(systems)))

for i, system in enumerate(systems):
    gamma2, L2, = pn.L2_Newton(SS3.loc[system,'miu'],  0.01, SS3.loc[system,'d1'])
    gamma2_dim = pn.L_2_dim(gamma2, SS3.loc[system,'l*'])
    L2_dim = pn.L_2_dim(L2, SS3.loc[system,'l*'])
    L2_point[:,i] = [gamma2, L2, gamma2_dim, L2_dim]
    
pd.DataFrame(L2_point.T, columns=['gamma_2 (-)', 'L_2 (-)', 'gamma_2 (km)', 'L_2 (km)'], 
             index=systems)

                gamma_2 (-)   L_2 (-)  gamma_2 (km)      L_2 (km)
Sun-Earth          0.010037  0.010040  1.501532e+06  1.501981e+06
Earth-Moon         0.167833  0.179983  6.451491e+04  6.918560e+04
Saturn-Titan       0.043419  0.043655  5.305258e+04  5.334028e+04
Jupiter-Europa     0.020452  0.020478  1.372563e+04  1.374251e+04
Pluto-Charon       0.352405  0.447128  6.179782e+03  7.840838e+03

### Part b)

In [4]:
L1_point = np.zeros((4,len(systems)))
L3_point = np.zeros((4,len(systems)))

for i, system in enumerate(systems):
    gamma1, L1, = pn.L1_Newton(SS3.loc[system,'miu'],  0.01)
    gamma1_dim = pn.L_2_dim(gamma1, SS3.loc[system,'l*'])
    L1_dim = pn.L_2_dim(L1, SS3.loc[system,'l*'])
    L1_point[:,i] = [gamma1, L1, gamma1_dim, L1_dim]
    
    gamma3, L3, = pn.L3_Newton(SS3.loc[system,'miu'],  0.9, SS3.loc[system, 'd1'])
    gamma3_dim = pn.L_2_dim(gamma3, SS3.loc[system,'l*'])
    L3_dim = pn.L_2_dim(L3, SS3.loc[system,'l*'])
    L3_point[:,i] = [gamma3, L3, gamma3_dim, L3_dim]
    
    
print(pd.DataFrame(L1_point.T, columns=['gamma_1 (-)', 'L_1 (-)', 'gamma_1 (km)', 'L_1 (km)'], 
             index=systems))
print("\n")
print(pd.DataFrame(L3_point.T, columns=['gamma_1 (-)', 'L_1 (-)', 'gamma_1 (km)', 'L_1 (km)'], 
             index=systems))

                gamma_1 (-)   L_1 (-)  gamma_1 (km)      L_1 (km)
Sun-Earth          0.010037  1.010037  1.501532e+06  1.510994e+08
Earth-Moon         0.167833  1.167833  6.451491e+04  4.489149e+05
Saturn-Titan       0.043419  1.043419  5.305258e+04  1.274918e+06
Jupiter-Europa     0.020452  1.020452  1.372563e+04  6.848256e+05
Pluto-Charon       0.352405  1.352405  6.179782e+03  2.371578e+04


                gamma_1 (-)   L_1 (-)  gamma_1 (km)      L_1 (km)
Sun-Earth         -0.941060 -0.941057 -1.407805e+08 -1.407801e+08
Earth-Moon        -0.849061 -0.836911 -3.263791e+05 -3.217085e+05
Saturn-Titan      -0.937026 -0.936791 -1.144920e+06 -1.144632e+06
Jupiter-Europa    -0.940665 -0.940640 -6.312803e+05 -6.312634e+05
Pluto-Charon      -0.713890 -0.619167 -1.251877e+04 -1.085772e+04